<server description="microservice-speaker">

  <!-- Enable features -->
  <featureManager>
    <feature>microProfile-2.1</feature>    
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint"
        host="*"
        httpPort="9080"
        httpsPort="9443" />

  <keyStore id="defaultKeyStore" password="mpKeystore"/>
  <mpMetrics authentication="false"/>

  <logging maxFileSize="200" maxFiles="10" traceSpecification="com.ibm.ws.microprofile.*=all:org.eclipse.microprofile.*=all:HEALTH=all" />

  <webApplication location="speaker.war" contextRoot="/"/>

  <variable name="breaking.service.broken" value="true"/>

</server>
